{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/extensions": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off"
  }
}
